body
{
    font-family: 'Roboto', sans-serif;
}
/* div container */
.container
{
    max-width:1340px;
    margin-left: auto;
    margin-right:auto;
    padding-left:1rem ;
    padding-right:1rem;
}
/*--header--*/
a
{
	text-decoration: none;
	color: black;
}
nav
{
    display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
    position: relative;
    right: 1.5em;

}
#logo
{
	margin-right: auto;
	padding: 0 40px;
}
nav a
{
	padding: 40px;
	
}
nav a:hover
{
	border-top: 3px solid blue;
}
@media screen and (max-width:800px){
    .nav-link
    {
        display: flex;
        margin-right: auto;
        margin-bottom: 2rem;
    }
    nav a:hover
    {
        border-top:none ;
        border-bottom: 2px solid blue;
    }
    }
/*--recherche--*/
.recher-form
{
    display: flex;
    margin-bottom: 1em;
}
.recher-form >*
{
    padding:1rem 1.2rem ;
}
.recher-form i
{
    padding: 1rem 1.2rem;
    background-color: lightgrey;
    border-radius: 1rem 0 0 1rem;

}
.recher-form button i
{
    display: none;
}
.recher-form input
{
    flex-basis: 6rem;
    border: 1px solid lightgrey;
    padding: 1rem 1.5rem;
}
.recher-form input::placeholder
{
    font-size: 1.2rem;
}
.recher-form button
{
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0 1.2rem 1.2rem 0;
    padding: 0 1.5rem;
    border: none;
    cursor: pointer;
    padding: 1rem 1.2rem;
    opacity: 0.7;
    transition: transform 200ms;
}
.recher-form button:hover
{
    opacity: 1;
    transform: scale(1.03);
}
@media screen and (max-width:800px){
    .recher-form .recher-form-text
    {

        display: none;
    }
    .recher-form button i
    {
        background-color: inherit;
        display: inline;
    }
    .recher-form input
    {
        overflow: hidden;
    }
    
}
/*--filtre-liste--*/

.filtre-liste
{
    display: flex;
    align-items: center;
    gap: 0.4rem 0.9rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.filtre .fa-solid
{
    color: blue;
    background-color: lightblue;
   /*-- padding: 1rem--*/
    border-radius: 50%;
    margin: -2px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filtre span
{
    font-weight: bold;
    padding: 0 1rem;
}
.filtre:hover
{
background-color: #f3f8ff;
transform: scale(1.02);
}

.filtre
{
border: 2px solid lightgrey;
border-radius: 2rem;
display: flex;
align-items: center;
transition: all 100ms;
}
/*--Plus infos--*/
.plus-info
{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2em;
}
.plus-info .fa-solid
{
    color: blue;
    width: 3rem;
    height: 3rem;
    border: 1px solid darkgrey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* appartement */
.appartement{
    width: 100%;
    display: flex;
    gap: 1em;

}
.blue{
    color: blue;
}
.grey{
    color: grey;
}
.marseille{
    flex-basis: 70%;
    background-color: lightgrey;
    padding: 1em;
    border-radius: 1em;

}
.marseille .info{
padding: 0 0.4em;
}
.marseille .logement img{
   width: 100%;
    border-radius: 1em 1em 0 0;
    background-position: center;
    background-size: cover;
}
.marseille .logement{
    width: 30%;
    height: 200px;
    border: 4px solid white;
    background-color: white;
    border-radius: 1em;
    transition: all 200ms;
}
.marseille .logement:hover{
    transform: scale(1.02);
}
.chambre1,.chambre2{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    flex-wrap: wrap;
}
/* populaire */
.populaire{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    border-radius: 1em;
    padding: 1em;
}
.populaire h3{
    display: flex;
    justify-content: space-between;
}
.populaire .pop img{
    width: 30%;
    border-radius: 1em 0 0 1em;
    background-position: center;
    background-size: cover;
   
}
.pop .logement{
    display: flex;
    margin-bottom: 1em;
    background-color: white;
    border-radius: 1em;
    flex-basis: 30%;
    height: 149px;
    border: 4px solid white;
    transition:all 200ms;
    }
    .pop .logement:hover{
        transform: scale(1.02);
    }
.populaire .info{
    padding: 1em;
}
@media screen and (max-width:800px) {
    .appartement{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .populaire{
        order: -1;
    }
    
    .marseille .logement{
        margin-bottom: 1em;

     }
   
    .marseille h3{
        text-align: center;
    }
    .marseille p{
        text-align: center;
    }
    .populaire h3 span{
        text-align: center;
    }
   
    }
@media screen and (max-width:700px){
    .marseille .chambre1 .logement img, .marseille .chambre2 .logement img{
       height: 100px;
       background-size: cover; 
    }
    }   
        
    @media screen and (max-width:500px) {
    .marseille .logement{
        width: 80%;
        height: 250px;
        }
    .marseille .chambre1 .logement img, .marseille .chambre2 .logement img{
        height: 160px;
        background-size: cover;
    }
    .pied-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .colon{
        margin-bottom: 0.6em;
    }
    
    }

.activities-liste > *{
    border: 1px solid white;
    background-position: center;
    background-size: cover;
    display: flex;
    border-radius: 1em;
    box-shadow: 4px 4px 15px black;
    transition: all 200ms;
    }
    .activities-liste> div:hover{
        transform: scale(1.02);
    }
    .activities-liste{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(10em,14em));
        grid-template-rows: repeat(5,1fr);
        background-color:white;
        justify-content: center;
        gap: 1em;
        margin-bottom: 1em;
    }
    .medium1{
        grid-row: 1/span 3;
        background-image: url(image/activité/photo11.jpg);
    
    }
    .big1{
        grid-row: 1/-1;
        background-image: url(image/activité/photo10.jpg);
    }
    .big{
        height: 30em;
    }
    .big2{
        grid-column: 3/4;
        grid-row: 1/-1;
        background-image: url(image/activité/photo13.jpg);
    }
    .small2{
        grid-column: 4/-1;
        grid-row: 1/3;
        background-image: url(image/activité/photo15.jpg);
        
    }
    .medium2{
        grid-row: 3/-1;
        grid-column: 4/-1;
        background-image: url(image/activité/photo14.jpg);
    
    }
    .small1{
        grid-row: 4/-1;
        grid-column: 2/3;
        background-image: url(image/activité/photo12.jpg);
        
    }
    @media screen and (max-width:800px) {
        .activities-liste >*{
            grid-row: span 1;
            grid-column: span 1;
            height: 15em;
        }
        .activities-liste{
            grid-template-rows: repeat(auto-fit,15em);
        }
        
    }
    .activities-liste p{
        background-color: white;
        margin-top: auto;
        margin-bottom: 0;
        width: 100%;
        border-radius: 0 0 1em 1em;
        font-size: 1em;
        padding: 1em;
    }

/* pied de page */
.pied-page a
{
    text-decoration: none;
    color: black;
}
.colon
{

}
.pied-page{
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
    border-radius: 1em;
    padding: 1em;
}
