body
{
    font-family: 'Roboto', sans-serif;
}
/* div container */
.container
{
    max-width:1340px;
    margin-left: auto;
    margin-right:auto;
    padding-left:1rem ;
    padding-right:1rem;
}
/*--header--*/
a
{
	text-decoration: none;
	color: black;
}
nav
{
	
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
    position: relative;
    right: 1.5em;

}
#logo
{
	margin-right: auto;
	padding: 0 40px;
}
nav a
{
	padding: 40px;
	
}
nav a:hover
{
	border-top: 3px solid blue;
}
@media screen and (max-width:800px){
    .nav-link
    {
        display: flex;
        margin-right: auto;
        margin-bottom: 2rem;
    }
    nav a:hover
    {
        border-top:none ;
        border-bottom: 2px solid blue;
    }
    
}

/*--body--*/
/*--main--*/
/*--recherche--*/
.recher-form
{
    display: flex;
    margin-bottom: 1em;
}
.recher-form >*
{
    padding:1rem 1.2rem ;
}
.recher-form i
{
    padding: 1rem 1.2rem;
    background-color: lightgrey;
    border-radius: 1rem 0 0 1rem;

}
.recher-form button i
{
    display: none;
}
.recher-form input
{
    flex-basis: 6rem;
    border: 1px solid lightgrey;
    padding: 1rem 1.5rem;
}
.recher-form input::placeholder
{
    font-size: 1.2rem;
}
.recher-form button
{
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0 1.2rem 1.2rem 0;
    padding: 0 1.5rem;
    border: none;
    cursor: pointer;
    padding: 1rem 1.2rem;
    opacity: 0.7;
    transition: transform 200ms;
}
.recher-form button:hover
{
    opacity: 1;
    transform: scale(1.03);
}
@media screen and (max-width:800px){
    .recher-form .recher-form-text
    {

        display: none;
    }
    .recher-form button i
    {
        background-color: inherit;
        display: inline;
    }
    .recher-form input
    {
        overflow: hidden;
    }
    
}
/*--filtre-liste--*/

.filtre-liste
{
    display: flex;
    align-items: center;
    gap: 0.4rem 0.9rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}
.filtre .fa-solid
{
    color: blue;
    background-color: lightblue;
   /*-- padding: 1rem--*/
    border-radius: 50%;
    margin: -2px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filtre span
{
    font-weight: bold;
    padding: 0 1rem;
}
.filtre:hover
{
background-color: #f3f8ff;
transform: scale(1.02);
}

.filtre
{
border: 2px solid lightgrey;
border-radius: 2rem;
display: flex;
align-items: center;
transition: all 100ms;
}
/*--Plus infos--*/
.plus-info
{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2em;
}
.plus-info .fa-solid
{
    color: blue;
    width: 3rem;
    height: 3rem;
    border: 1px solid darkgrey;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--appartement--*/
.appartement
{
    border: none;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding-bottom: 2em;
    
}
.logement:hover
{
    transform: scale(1.02);
}

.appartement h3{
margin-top: 0.5em;
}
@media screen and (max-width:800px) {
    .appartement,.activité,.marseille{
        flex-direction: column;
    }
    .populaire
    {
        order: -1;
    }
    .chambre1,.chambre2
    {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .chambre1 .logement,.chambre2 .logement
    {
        display: flex;
    }
    .chambre1 .logement img,.chambre2 .logement img
    {
        border-radius: 1em 0 0 1em;
    }
    .logement1 img,.logement2 img
     {
        position: relative;
        right: 10px;
       
     }
     .logement3 img
     {
        position: relative;
        right: 15px;
       
     }
    .activité
    {
      justify-content: center;
      align-items: center;
      width: 100%;  
    }
    .activité .act2 img,.act img
    {
        width:100% ;
        align-items: center;
    }
    .act img
    {
        width: 300px;
        height: 200px;
    }
    .pied-page
    {
        flex-wrap: wrap;
        display: flex;

    }
    .colon,.colon2,.colon3
    {
        font-size: 0.4em;
    }
    

    
}
.marseille
{
    border: none;
    padding: 1rem;
    background-color: lightgrey;
    border-radius: 1em;
    width: 100%;
    

}
.chambre1, .chambre2
{
    display: flex;
    gap: 2em;
    margin-bottom: 2em;
}
.logement
{
    border: 5px solid white;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0 0 16px #0000002e;
    transition: all 0.2s;
}
.logement img
{
    border-radius: 1em 1em 0 0;
}
.info .blue
{
    color: blue;
}
.info .grey
{
    color: lightslategrey;
}
.logement .info
{ 
    margin: 0;
    padding: 0.3em;

}
.marseille a
{
    text-decoration: none;
    font-weight: bold;
    color: black;
    
}
/*--populaire--*/
.populaire
{
    border: none;
    background-color: lightgrey;
    padding: 1em;
    border-radius: 1em;
}
.populaire .blue
{
    color: blue;
}
.info
{
    padding: 0.7em;
}
.logement2, .logement1, .logement3
{
    display: flex;
    border: 1px solid white;
    padding: 0.2em;
    background-color: white;
    border-radius: 1em;
    align-items: center;
    margin-bottom: 2em;
    transition: all 0.2s;
    justify-content: center;
    align-items: center;
}
.logement2:hover, .logement1:hover, .logement3:hover
{
    transform: scale(1.02);
}
.logement2 img, .logement1 img, .logement3 img
{
    border-radius:1em 0 0 1em;
}
.populaire h3
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*--activités--*/
.activité
{
    border: none;
    display: flex;
    gap: 2em;
    padding-bottom: 4em;
}
.act p,.act2 p
{
 padding: 1em;
}
.act,.act2 div
{
    border: none;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0.4em 0.4em 0.4em black;
    transition: all 0.2s;
}
.act:hover,.act2 div:hover
{
    transform: scale(1.02);
}
.act2
{
    display: flex;
    gap: 1em;
    flex-direction: column;
}
.act img,.act2 img
{
    border-radius: 1em 1em 0 0;
}
/*--footer--*/
.pied-page
{
    display: flex;
    border: none;
    padding: 2em;
    border-radius: 1em;
    background-color: lightgrey;
    padding-bottom: 4em;
    box-shadow: 0.4em 0.4em 0.4em black;
    font-size: large;
}
.pied-page a
{
    text-decoration: none;
    color: black;
}
.colon2,.colon3
{
    margin-left: 7em;
}
